body, html {

  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(134,21,149,1) 100%);
  background: cover;
  color: white;


}

#edit-player {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 30px;
}

.hh {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 500px;
}

.hh1{
  width: 500px;
  align-items: center;
  justify-content: space-around;
}
.form-container{
  display: flex;
  flex-direction: column;
  background-color: #758991;
  text-align: left;
  width: 90%;
  padding: 30px;
  border-radius: 10px;

}
.edit-container{
  background-color: #758991;
  text-align: left;
  width: 90%;
  padding: 30px;
  border-radius: 10px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
   color: white;
}

.tournament-container {

  padding: 30px;

}

.hero-body {
  background-color: black;
  text-align: center;
  font-family: 'Sancreek';
}


.main-img {
  display: flex;
  width: 800px;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

.img-index{
  align-items: center;
  width: 500px;
}

.img-index2{
  height: 100px;
}

.img-header{
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  color: white;

}
img {
  border-radius: 10px;
}

button {
  background: lightblue;
  padding: 0.5em;
  margin: 0.5em;
}

h1 {
  /* font-size: 500px; */
  font-family: sans-serif;
  color: white;
  align-items: center;
  justify-content: center;
}
